*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
}

h1{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 3rem;
}

.btns{
    height: 1.5rem;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 1%;
}

.container{
    margin-top: 50px;
    display: grid;
    flex-wrap: wrap;
    height: 35rem;
    width: 65rem;
    border: solid black;
    align-content: center;
    margin-left: 250px;
    background-color: white;
}

#reset{
    height: 35px;
    width: 70px;
    font-size: 15px;
}

#grid_size{
    height: 35px;
    width: 70px;
    font-size: 15px;
}